*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:Inter,sans-serif;

background:#071C38;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.login-container{

width:1100px;

height:650px;

background:white;

border-radius:24px;

overflow:hidden;

display:grid;

grid-template-columns:1fr 480px;

box-shadow:0 30px 80px rgba(0,0,0,.25);

}

.login-left{

background:linear-gradient(
135deg,
#071C38,
#123A72
);

color:white;

padding:70px;

display:flex;

flex-direction:column;

justify-content:center;

}

.brand h1{

font-size:48px;

margin-bottom:15px;

}

.brand p{

font-size:18px;

opacity:.9;

line-height:1.8;

margin-bottom:50px;

}

.feature{

padding:18px 0;

font-size:18px;

border-bottom:1px solid rgba(255,255,255,.12);

}

.login-right{

display:flex;

justify-content:center;

align-items:center;

padding:50px;

background:#F8FAFC;

}

.login-card{

width:100%;

max-width:360px;

}

.login-card h2{

font-size:34px;

margin-bottom:12px;

color:#071C38;

}

.login-card p{

color:#64748B;

margin-bottom:35px;

}

.input-group{

margin-bottom:22px;

}

.input-group label{

display:block;

margin-bottom:8px;

font-weight:600;

color:#334155;

}

.input-group input{

width:100%;

padding:16px;

border:1px solid #CBD5E1;

border-radius:12px;

font-size:15px;

transition:.3s;

}

.input-group input:focus{

outline:none;

border-color:#2563EB;

box-shadow:0 0 0 4px rgba(37,99,235,.15);

}

.login-btn{

width:100%;

padding:16px;

background:#2563EB;

color:white;

border:none;

border-radius:12px;

font-size:16px;

font-weight:700;

cursor:pointer;

transition:.25s;

}

.login-btn:hover{

background:#1D4ED8;

transform:translateY(-2px);

}

.auth-select{

width:100%;

padding:16px;

border:1px solid #CBD5E1;

border-radius:12px;

font-size:15px;

background:white;

transition:.3s;

}

.auth-select:focus{

outline:none;

border-color:#2563EB;

box-shadow:0 0 0 4px rgba(37,99,235,.15);

}